/* CSS BASIC */

/* COLOR PALETTE */

/*
AZUL: material cyan A400
#00E5FF
GRIS:
#212121
BLANCO:
#FFFFFF
NEGRO:
#000000
https://coolors.co/gradient-maker/60efff-00ff87
https://www.google.com/search?q=verde+azul+neon&tbm=isch&ved=2ahUKEwiDqYjy_cj2AhXFyCoKHbbVBpMQ2-cCegQIABAA&oq=verde+azul+neon&gs_lcp=CgNpbWcQAzIGCAAQCBAeMgYIABAIEB4yBggAEAgQHjoHCCMQ7wMQJzoECAAQQzoFCAAQgAQ6BggAEAcQHjoHCAAQsQMQQzoICAAQsQMQgwE6CAgAEIAEELEDOgYIABAFEB5Q8AdYrRdgpRloAHAAeACAAW-IAcwLkgEEMTQuMpgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=wfowYsPEOsWRqwG2q5uYCQ&bih=939&biw=1879&client=opera-gx&hs=HFx

*/

/* FONTS */

@font-face {
  font-family: "Iceland";
  src: url("../fonts/Iceland.ttf");
}

body {
  margin: 0;
  background-color: #121212;
  text-align: center;
}

header {
  background-color: black;
  position: sticky;
  top: 0;
  padding: 16px;
  text-align: center;
}

main {
  margin: 32px;
}

footer {
  background-color: black;
  padding: 16px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: Iceland;
}

h1 {
  font-size: xx-large;
  margin: auto;
  display: inline-block;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: large;
}

button {
  padding: 16px 32px;
  border-radius: 8px;
  color: white;
  background-color: black;
  border: 1px solid white;
}

button:hover {
  cursor: pointer;
  color: black;
  background-color: lightskyblue;
}

button:active {
  color: black;
  background-color: lightskyblue;
}

p, a, li, button {
  color: white;
  font-family: monospace;
  font-size: 18px;
}

p, ul {
  text-align: left;
  width: fit-content;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* CLASSES */

h1.main_title {
  font-size: 6em;
}

.console {
  color: lightskyblue;
}

.nav-item {
  color: white;
  font-family: Iceland;
  font-size: 2em;
  text-decoration: none;
  padding: 16px;
}

.nav-item:hover {
  color: lightskyblue;
}

.contact-link {
  display: block;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 50%;
  padding: 16px;
  border-radius: 24px;

  color: white;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.background-white {
  background-color: white;
}

/* IMG */

.img-logo-brand {
  width: 16px;
  height: 16px;
}

.img-icon128 {
  width: 128px;
  height: 128px;
  border-radius: 16px;
}

.img-badge {
  width: auto;
  height: 100px;
}

/* ANIMS */

.anim-blink {
    animation: blink 1s infinite;
}

/* The typewriter cursor effect */
@keyframes blink {
  from { color: transparent }
  to { color: lightskyblue; }
}