/* VARIABLES */
:root {
  --primary-color: rgb(0, 174, 255);
  --console-color: rgb(0, 255, 0);
  --bg-grey-dark: #121212;
  --bg-grey-light: #313131;
}

/* FONTS */

@font-face {
  font-family: Iceland;
  src: url(assets/fonts/Iceland-Regular.ttf);
}

@font-face {
  font-family: Console;
  src: url(assets/fonts/VT323-Regular.ttf);
}

.console {
  font-family: Console, 'Courier New', Courier, monospace;
  font-size: 1.5em;
  color: var(--console-color);
  text-shadow: 0px 0px 10px var(--console-color);
}

.glow {
  text-shadow:
    0px 0px 05px var(--primary-color),
    0px 0px 10px var(--primary-color),
    0px 0px 15px var(--primary-color);
}

/* HTML BASIC TAGS */

body {
  margin: 0;
  text-align: center;
  background-color: var(--bg-grey-light);
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: Iceland, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

p, a, li {
  text-align: left;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  width: fit-content;
  margin: auto;
}

ul {
  width: fit-content;
    margin: auto;
}

/* SECTIONS */

section {
  padding: 24px 16px 64px;
}

#header {
  padding: 4em;
  z-index: 999;
  height: 80vh;
  background-color: black;
  background-image: url(assets/matrix.gif);
  background-size: cover;
  border-bottom: white solid 1px;
}

#header_title {
  white-space: nowrap;
  width: 100%;
  margin: auto;
  
  text-align: center;
  font-size: 4em;
}

#header_subtitle {
  width: 100%;
  margin: auto;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  font-family: Iceland;
  font-size: 2em;
  color: var(--console-color);
}

#welcome_title {
  font-size: 6em;
}

#scroll_arrow {
  color: var(--console-color);
  font-size: 4em;
  position: absolute;
  bottom: 0px;
  display: inline;
}

#projects {
  background-color: var(--bg-grey-dark);
}

#CV {
  background-color: var(--bg-grey-light);
}

#dpware {
  background-color: var(--bg-grey-dark);
}

#rrss {
  background-color: black;
}

/* CLASSES */

.columned {
  background-color: var(--bg-grey-light);
  border-radius: 16px;
  margin: 1em;
  padding: 2em;
  display: inline-block;
  max-width: 25%;
  vertical-align: top;
}

.rrss_link {
  width: 32px;
  height: 32px;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  display: inline-block;
}

.project_description {
  text-align: center;
}

.background_logo {
  background-color: white;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  margin: auto;
  margin-bottom: 2em;
  border-radius:16px;
}

.logo_brand {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
}

/* IMG */

.svg_tech {
  color: black;
  display: inline-block;
  padding: 16px 32px;
  margin: 4px;
  border-radius: 8px;
}

.img-logo-brand {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.img-icon128 {
  width: 128px;
  height: 128px;
  border-radius: 16px;
  margin-bottom: 16px;
}

.img-badge {
  width: auto;
  height: 100px;
}

/* ANIMS */

.anim-blink {
    animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}