
/*
BLANCO:
#FFFFFF
NEGRO:
#000000
GRIS: #121212
*/

/* FONTS */

@font-face {
  font-family: Iceland;
  src: url(assets/fonts/Iceland-Regular.ttf);
}

/* HTML BASIC TAGS */

body {
  margin: 0;
  background-color: #121212;
  text-align: center;
}

main {
  padding: 0em 2em 3em;
}

header {
  background-color: black;
  position: sticky;
  top: 0;
  padding: 2em;
}

section {
  padding: 3em 2em 3em;
}

footer {
  background-color: black;
  padding-top: 1em;
  padding-bottom: 4em;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: Iceland, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

p, a, li {
  text-align: left;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 500px;
}

p {
  text-align: left;
  margin: auto;
}

ul {
  width: fit-content;
    margin: auto;
}

/*
button {
  padding: 1em 2em;
  border-radius: 4px;
  color: white;
  background-color: black;
  border: solid 1px lightskyblue;
}

button:hover {
  cursor: pointer;
  color: black;
  background-color: lightskyblue;
}
*/

/* IDENTIFIERS */

#welcome {
  background-color: #313131;
}

#CV {
  background-color: #313131;
}

/* CLASSES */

h1.main_title {
  white-space: nowrap;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 4em;
}

.console {
  white-space: nowrap;
  width: 100%;
  margin: auto;
  margin-top: 16px;
  text-align: center;
  color: lightskyblue;
}

@keyframes typing {
  from {width: 0;}
}

@keyframes blink {
  50% {border-color: transparent;}
}

.columned {
  display: inline-block;
  vertical-align: text-top;
  margin: 1em;
}

.rrss_link {
  width: 32px;
  height: 32px;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  display: inline-block;
}

.project_description {
  text-align: center;
}

.background_logo {
  background-color: white;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  margin: auto;
  margin-bottom: 2em;
  border-radius:16px;
}

.logo_brand {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
}

/* IMG */

.img-logo-brand {
  width: 32px;
  height: 32px;
}

.img-icon128 {
  width: 128px;
  height: 128px;
  border-radius: 16px;
  margin-bottom: 16px;
}

.img-badge {
  width: auto;
  height: 100px;
}



/* ANIMS */

.anim-blink {
    animation: blink 1s infinite;
}

/* The typewriter cursor effect */
@keyframes blink {
  from { color: transparent }
  to { color: lightskyblue; }
}