/* VARIABLES */
:root {
  --primary-color: rgb(0, 174, 255);
  --console-color: rgb(0, 255, 0);
  --bg-grey-dark: #121212;
  --bg-grey-light: #313131;
}

/* FONTS */

@font-face {
  font-family: Iceland;
  src: url(assets/fonts/Iceland-Regular.ttf);
}

/* HTML BASIC TAGS */

body {
  margin: 0;
  text-align: center;
  background-color: var(--bg-grey-light);
}

#header {
  border-bottom: white solid 1px;
  background-color: black;
  position: sticky;
  top: 0;
  padding: 2em;
  z-index: 999;
}



h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: Iceland, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

p, a, li {
  text-align: left;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  text-align: left;
  margin: auto;
}

ul {
  width: fit-content;
    margin: auto;
}

/* SECTIONS */

section {
  padding: 2em 2em 8em;
}

#welcome {
  background-color: black;
  height: 65vh;
}
#welcome_title, #welcome_body {
  color: var(--console-color);
}

#welcome_body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  max-width: fit-content;
}

#welcome_arrow {
  font-size: 4em;
  position: absolute;
  bottom: 10px;
}

#projects {
  background-color: var(--bg-grey-dark);
}

#CV {
  background-color: var(--bg-grey-light);
}

#emedpware {
  background-color: var(--bg-grey-dark);
}

#rrss {
  background-color: black;
}

/* CLASSES */

.glow {
  text-shadow:
    0px 0px 05px var(--primary-color),
    0px 0px 10px var(--primary-color),
    0px 0px 15px var(--primary-color);
}

h1.main_title {
  white-space: nowrap;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 4em;
}

.console {
  white-space: nowrap;
  width: 100%;
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  color: var(--console-color);
  text-align: center;
}

.columned {
  display: inline-block;
  vertical-align: text-top;
  margin: 1em;
}

.rrss_link {
  width: 32px;
  height: 32px;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  display: inline-block;
}

.project_description {
  text-align: center;
}

.background_logo {
  background-color: white;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  margin: auto;
  margin-bottom: 2em;
  border-radius:16px;
}

.logo_brand {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
}

/* IMG */

.img-logo-brand {
  width: 32px;
  height: 32px;
}

.img-icon128 {
  width: 128px;
  height: 128px;
  border-radius: 16px;
  margin-bottom: 16px;
}

.img-badge {
  width: auto;
  height: 100px;
}

/* ANIMS */

.anim-blink {
    animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    border-color: transparent;
    color: transparent;
  }
  50% {
    border-color: var(--console-color);
    color: var(--console-color);
  }

  100% {
    border-color: transparent;
    color: transparent;
  }
}